.question-list{
    height: 85vh;
    overflow: hidden;
    overflow-y: scroll;
}


.detail-card .question{
    font-weight: 500;
    font-size: 100px;

}

.game-board table{
    width: 560px;
    height: 540px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    overflow:hidden;
    border-radius: 10px;
    -pie-background: linear-gradient(#ece9d8, #E5ECD8);   
    box-shadow: #666 0px 2px 3px;
    overflow: hidden;
}

.game-board table tr{
    height: 20%;
}

.game-board table tr .answer-cell{
    width: 19%;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    border : 2px solid black;
    cursor: pointer;
}

.game-board table tr .bingo-text{
    width: 5%;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
}

.users-list{
    height: 60vh;
    overflow: hidden;
    overflow-y: scroll;
}

.highlight-div {
     border: 4px solid red;
}

.timer {
    font-weight: 600;
    font-size: 24px;
    color: red;
}

.assistant-msg {
    font-size: 18px;
    color: blue;
    font-weight: 500;
}

.current-question{
    font-weight: 600;
}

.bg{
    padding: 10px 20px;
    height: 85vh;
    margin-top: 10px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.212);
    box-shadow: inset -3px -3px rgba(0, 0, 0, 0.212);
    border: 1px solid black;
    box-shadow: inset -5px -5px rgba(0, 0, 0, 0.5);
    outline: none;
    font-size: 1rem;
    font-weight: 500;
}

.mt-2 {
    padding: 10px 20px;
    height: 85vh;
    margin-top: 10px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.212);
    box-shadow: inset -3px -3px rgba(0, 0, 0, 0.212);
    border: 1px solid black;
    box-shadow: inset -5px -5px rgba(0, 0, 0, 0.5);
    outline: none;
    font-size: 1rem;
    font-weight: 500;
}

.listitem{
    padding: 10px 20px;
    height: 85vh;
    color: #fff;
    margin-top: 10px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.212);
    box-shadow: inset -3px -3px rgba(0, 0, 0, 0.212);
    border: 1px solid black;
    box-shadow: inset -5px -5px rgba(0, 0, 0, 0.5);
    outline: none;
    font-size: 1rem;
    font-weight: 500;   
}

.result{
    padding: 10px 20px;
    height: 85vh;
    margin-top: 10px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.212);
    box-shadow: inset -3px -3px rgba(0, 0, 0, 0.212);
    border: 1px solid black;
    box-shadow: inset -5px -5px rgba(0, 0, 0, 0.5);
    outline: none;
    font-size: 1rem;
    font-weight: 500;
}
